/* DiemDanhA.css */
.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #CBF1F5;
  color: rgb(0, 0, 0);
  padding: 0 0 0 0px; 
  position: relative;
}
  
  .side-menu {
    width: 280px;
    height: 100vh;
    background-color: #A6E3E9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .title {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-left: 10px;
    text-align: left;
  }
  
  .title-main {
    font-weight: bold;
    font-size: 21px;
  }
  
  .label {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-left: 10px;
    text-align: left;
  }
  
  .menu-item:hover {
    background-color: #E3FDFD;
    color: #3674B5;
  }
  
  .sub-menu-bar {
    background-color: #71C9CE;
    padding: 2px;
  }