.side-menu-g {
  width: 290px; /* Chiều rộng của sidebar */
  background-color: #0B1957; /* Màu nền cho sidebar */
  box-shadow: 0 5px 5px #3a3a3a; /* Đổ bóng cho sidebar */
  position: sticky; /* Giữ sidebar cố định khi cuộn */
  top: 0; /* Đặt vị trí cố định */
  height: 100vh; /* Chiều cao của sidebar */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
  color: #9ECCFA;
}

.icon-g {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
  cursor: pointer;
}

.title-g {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}


.label-g {
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
  text-align: left;
  
}

.menu-item-g {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #9ECCFA;
  flex-direction: row;
  background-color: #0B1957;
  box-sizing: border-box;
}

.ps-menu-button {
  background-color: transparent !important;
  padding: 0 !important;
  width: 290px;
}

.ps-menu-button:hover {
  background-color: #9ECCFA !important;  /* Chỉnh theo tone bạn muốn */
  color: #0B1957 !important;
}

.menu-item-g:hover {
  background-color: #9ECCFA !important; /* Màu nền khi hover */
  color: #0B1957 !important; /* Màu chữ khi hover */
}

.menu-item-g {
  font-size: 16px; /* Kích thước chữ cho các mục trong submenu */
}
