.side-menu-u {
    width: 290px;
    background-color: #A6E3E9; /* Màu nền cho sidebar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Đổ bóng cho sidebar */
    position: sticky; /* Giữ sidebar cố định khi cuộn */
    top: 0; /* Đặt vị trí cố định */
    height: 100vh; /* Chiều cao của sidebar */
    overflow-y: auto; /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
  }

  .icon-u {
    display: flex; /* Sử dụng Flexbox để căn giữa */
    align-items: center; /* Căn giữa theo chiều dọc */
    margin: 10px 0; /* Thêm khoảng cách giữa các mục */
    cursor: pointer;
  }
  
  .title-u {
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Màu chữ */
    margin-left: 10px; /* Khoảng cách giữa biểu tượng và tiêu đề */
    text-align: left; /* Căn trái nội dung */
  }

  
  .label-u {
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Màu chữ */
    margin-left: 10px; /* Khoảng cách giữa biểu tượng và tiêu đề */
    text-align: left;
  }
  
  .menu-item-u:hover {
    background-color: #E3FDFD; /* Hiệu ứng hover cho menu item */
    color: #3674B5;
  }
  
  .title-u:hover{
    color: #3674B5;
  }
