.button-cam {
    background: #71C9CE;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2); /* Thêm độ mờ cho bóng */
    margin-right: 5px;
    width: 350px;
    height: 50px;
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Thêm ease cho hiệu ứng */
}

.button-cam:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em 0.3em rgba(0, 0, 0, 0.3); /* Thay đổi độ mờ cho bóng khi hover */
}

.button-cam:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.2); /* Thay đổi độ mờ cho bóng khi nhấn */
}

.button-form-cam {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Thêm khoảng cách phía trên nếu cần */
}

.camera-notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s, fadeOut 0.3s 2.7s;
  }
  
  .success {
    background-color: #4CAF50;
  }
  
  .error {
    background-color: #f44336;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }