.side-menu-ad {
  width: 290px; /* Chiều rộng của sidebar */
  background-color: #A6E3E9; /* Màu nền cho sidebar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Đổ bóng cho sidebar */
  position: sticky; /* Giữ sidebar cố định khi cuộn */
  top: 0; /* Đặt vị trí cố định */
  height: 100vh; /* Chiều cao của sidebar */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
}

.icon-ad {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}

.title-ad {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  margin-left: 10px;
  text-align: left;
}

.label-ad {
  font-weight: bold;
  font-size: 25px;
  color: #333;
  margin-left: 10px;
  text-align: left;
}

.menu-item-ad {
  display: flex;
  align-items: center;
  transition: background-color 0.3s; /* Hiệu ứng chuyển tiếp cho màu nền */
}

.menu-item-ad:hover {
  background-color: #E3FDFD; /* Màu nền khi hover */
  color: #71C9CE; /* Màu chữ khi hover */
  width: 100%;
}

.sub-menu-bar-ad {
  background-color: #71C9CE; /* Màu nền cho submenu */
  border-radius: 5px; /* Bo góc cho submenu */
  max-height: 150px; /* Chiều cao tối đa cho submenu */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
}

.sub-menu-bar-ad .menu-item-ad {
  font-size: 16px; /* Kích thước chữ cho các mục trong submenu */
}

.sub-menu-bar-ad .menu-item-ad:hover {
  background-color: #A3D8D0; /* Màu nền khi hover cho submenu */
}