/* Guest.css */

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #E3FDFD;
  color: rgb(0, 0, 0);
  padding: 0 0 0 0px; 
  position: relative;
}
  
.side-menu {
  width: 290px;
  background-color: #A6E3E9; /* Màu nền cho sidebar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Đổ bóng cho sidebar */
  position: sticky; /* Giữ sidebar cố định khi cuộn */
  top: 0; /* Đặt vị trí cố định */
  height: 100vh; /* Chiều cao của sidebar */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
}
  
.content-thong-tin {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

  .icon {
    display: flex; /* Sử dụng Flexbox để căn giữa */
    align-items: center; /* Căn giữa theo chiều dọc */
    margin: 10px ; /* Thêm khoảng cách giữa các mục */
    cursor: pointer;
  }
  
  .title {
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Màu chữ */
    margin-left: 10px; /* Khoảng cách giữa biểu tượng và tiêu đề */
    text-align: left; /* Căn trái nội dung */
  }
  
  .title-main {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    text-align: left;
  }
  
  .label {
    font-weight: bold;
    color: #333; /* Màu chữ */
    font-size: 20px;
    margin-left: 10px; /* Khoảng cách giữa biểu tượng và tiêu đề */
    text-align: left;
  }
  
  .menu-item:hover {
    background-color: #E3FDFD; /* Hiệu ứng hover cho menu item */
    color: #3674B5;
  }
  
  .title:hover,
  .title-main:hover {
    color: #3674B5;
  }

  .form-ca-nhan {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: -20px;
    
  }

  .form-thong-tin {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
  }
  
  .line {
    border: 1px  solid #333;
    margin: 20px 0;
    width: 100%;
  }
  
  .form-anh {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%; /* Make avatar circular */
    border: 1px solid #333;
  
  }
  
  .chu-ca-nhan {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-left: 10px;
    text-align: left;
  }
  
  .form-chu {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .chu-thong-tin {
    font-size: 18px;
    margin-left: 10px;
  }